@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.category-grid {
  display: grid;
  grid-auto-rows: 400px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 5rem;
}
.wide-item {
  grid-column: span 2;
}
.switch-display > article:first-child {
  display: grid;
}
.switch-display > article:last-child {
  display: none;
}
.bold-display {
  font-size: min(9.69em, 10.57vw);
  line-height: 1.6;
}

.section-padding {
  @apply xl:px-10 lg:px-6 px-4;
}

.key-features > li {
  @apply flex items-center gap-2.5;
}

.key-features > li > span:first-child {
  @apply text-[#10101099];
}

.product-grid {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.menu {
  flex-direction: column;
  gap: 0.2em;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  cursor: pointer;
}
.menu > span {
  background: #000;
  height: 2px;
  border-radius: 0.2em;
  width: 1.2em;
  transition: all 0.4s;
}
.menu.active > span:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu.active span:nth-child(2) {
  opacity: 0;
}
.menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(2px, -2px);
}

.search-bar {
  width: min(240px, 25vw);
}




@media screen and (max-width:1050px) {
  .switch-display > article:first-child {
    display: none;
  }
  .switch-display > article:last-child {
    display: grid;
  }
  .bold-display {
    font-size: min( 7rem, 11.38vw);
  }
}

@media screen and (max-width:900px) {
  .category-grid {
    grid-auto-rows: 330px;
    row-gap: 4rem;
  }
}


@media screen and (max-width:500px) {
  .menu > span {
    width: 1.4em;
  }
  .bold-display {
    font-size: min(2.8rem);
  }
  .category-grid {
    grid-auto-rows: 200px;
    row-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(159px, 1fr));

  }
  .switch-display > article:last-child {
    grid-auto-rows: 200px;
  }
}
